<style type="text/css">
    .toplevel-buttons {
        margin-bottom: 2em;
    }

    .button {
        background-color: #ccc;
        border-radius: .5em;
        padding: .5em;
        margin: .5em;
    }

    .build-details .list-group {
        display: none;
    }
</style>

<script type="text/javascript">
    function hideAll() {
        document.querySelectorAll(".build-details .list-group").forEach((el) => {
            el.style.display = "none";
        })
    }
    function showAll() {
        document.querySelectorAll(".build-details .list-group").forEach((el) => {
            el.style.display = "block";
        })
    }

    function gotoBuild(build_id) {
        let panel_list = document.querySelector("#build-" + build_id + " .list-group")
        panel_list.style.display = 'block';
        document.querySelector("#build-" + build_id).scrollIntoView();
    }

    function togglePanel(build_id) {
        let panel_list = document.querySelector("#build-" + build_id + " .list-group")
        panel_list.style.display = panel_list.style.display == "none" ? "block" : "none";
    }
</script>

<div class="content">
    <div class="container">
        <div class="row">
            <div class="panel panel-default">
            <ul class="builder_summary list-group">
            {% for builder_name in toplevel_builds %}
            <li class="list-group-item">
                <span class="builder-name">{{ builder_name }}</span>:

                {% for build in toplevel_builds[builder_name] %}
                <span class="badge-status results_{{ build['state']['badge'] }}" onclick="gotoBuild({{ build['id'] }})">
                    {% if build['state']['badge'] == 'success' %}
                        {{ build['build_number'] }}
                    {% else %}
                        {{ build['build_number'] }}: {{ build['state']['text'] }}
                    {% endif %}
                </span>
                {% endfor %}
            </li>
            {% endfor %}
            </ul>
            </div>

            <div class="toplevel-buttons">
            <span class="button" onclick="showAll()">Show all</span> <span class="button" onclick="hideAll()">Hide all</span>
            </div>
        </div>
        <div class="row">
            {% for build in builds %}
            <div class="build-details panel panel-default" id="build-{{ build['id'] }}">
                <div class="panel-heading"
                     onclick="togglePanel({{ build['id'] }})">
                    <a href="/#/builders/{{ build['builder_id'] }}/builds/{{ build['build_number'] }}">
                        {{ build['builder_name'] }}/{{ build['build_number'] }}
                    </a>
                    <span class="pull-right">
                        {% for status in build['summary'] %}
                        <span class="badge-status results_{{ status['badge'] }}">
                            {{ status['text'] }}: {{ status['count'] }}
                        </span>
                        {% endfor %}
                    </span>
                </div>

                <ul class="list-group">
                    {% for package in build['report']['packages'] %}
                    <li class="list-group-item">
                        <span class="pull-right">
                            <em>Logs: </em>
                            {% for log in package['logs'] %}
                            <a href="{{ url_for('log_get', reports_name=build['reports_name'], packagename=package['name'], logtype=log) }}">{{ log }}</a>
                            {% endfor %}

                            {% if package['tests'] %}
                            <em>Tests: </em>
                            {% for result in package['tests'] %}
                            <a href="{{ url_for('test_results_get', reports_name=build['reports_name'], packagename=package['name'], type="{{ result['type'] }}") }}">{{ result['type'] }}</a>
                            {% endfor %}
                            {% endif %}

                            {% for status in package['status'] %}
                            <span class="badge-status results_{{ status['badge'] }}">
                                {{ status['text'] }}
                            </span>
                            {% endfor %}
                        </span>
                        {{ package['name'] }}
                    </li>
                    {% endfor %}
                </ul>
            </div>
            {% endfor %}
        </div>
    </div>
</div>

