<div class="content">
    <div class="container">
        <div class="row">
            {% for build in builds %}
            <div class="panel panel-default">
                <div class="panel-heading">
                    <a href="/#/builders/{{ build['builder_id'] }}/builds/{{ build['build_number'] }}">
                        {{ build['builder_name'] }}/{{ build['build_number'] }}
                    </a>
                    <span class="pull-right">
                        {% for status in build['summary'] %}
                        <span class="badge-status results_{{ status['badge'] }}">
                            {{ status['text'] }}: {{ status['count'] }}
                        </span>
                        {% endfor %}
                    </span>
                </div>

                <ul class="list-group">
                    {% for package in build['report']['packages'] %}
                    <li class="list-group-item">
                        <span class="pull-right">
                            <em>Logs: </em>
                            {% for log in package['logs'] %}
                            <a href="{{ url_for('log_get', buildname=build['name'], packagename=package['name'], logtype=log) }}">{{ log }}</a>
                            {% endfor %}

                            {% if package['tests'] %}
                            <em>Tests: </em>
                            {% for result in package['tests'] %}
                            <a href="{{ url_for('test_results_get', buildname=build['name'], packagename=package['name'], type="{{ result['type'] }}") }}">{{ result['type'] }}</a>
                            {% endfor %}
                            {% endif %}

                            {% for status in package['status'] %}
                            <span class="badge-status results_{{ status['badge'] }}">
                                {{ status['text'] }}
                            </span>
                            {% endfor %}
                        </span>
                        {{ package['name'] }}
                    </li>
                    {% endfor %}
                </ul>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
