<div class="content">
    <div class="container">
        <div class="row">
            {% for build in builds %}
            <div class="panel panel-default">
                <div class="panel-heading">
                    {{ build['name'] }}
                </div>

                <ul class="list-group">
                    {% for package in build['report']['packages'] %}
                    <li class="list-group-item">
                        <span class="pull-right">
                            {% for status in package['status'] %}
                            <span class="badge-status results_{{ status['badge'] }}">
                                {{ status['text'] }}
                            </span>
                            {% endfor %}
                        </span>
                        {{ package['name'] }}
                    </li>
                    {% endfor %}
                </ul>
            </div>
            {% endfor %}
        </div>
    </div>
</div>