account.json
infrastructure/.terraform/
infrastructure/terraform.tfvars

master/tf
master/buildbot.tac
master/build_reports
master/*.pyc
master/http.log
master/http.log.*
master/__pycache__
master/master.cfg.sample
master/*.pid
master/state.sqlite
